name: Build VPN BRI Super Gratis

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Ambil Jantung VPN
      run: |
        mkdir -p V2rayNG/app/libs
        curl -L https://github.com/2dust/AndroidLibXrayLite/releases/latest/download/libv2ray.aar -o V2rayNG/app/libs/libv2ray.aar

    - name: Siapkan Lingkungan
      working-directory: ./V2rayNG
      run: |
        echo "sdk.dir=$ANDROID_HOME" > local.properties
        # Paksa Gradle pakai versi stabil (8.7)
        sed -i 's/gradle-9.2.1-bin.zip/gradle-8.7-bin.zip/g' gradle/wrapper/gradle-wrapper.properties || true
        chmod +x gradlew

    - name: Build APK (Mode Stabil)
      working-directory: ./V2rayNG
      run: ./gradlew assembleDebug -x lint -x test --stacktrace
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: VPN-BRI-Super-Gratis-Final
        path: V2rayNG/app/build/outputs/apk/debug/*.apk
