name: Build VPN BRI Super Gratis

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Download Core VPN Manual
      run: |
        mkdir -p V2rayNG/app/libs
        curl -L https://github.com/2dust/AndroidLibXrayLite/releases/latest/download/libv2ray.aar -o V2rayNG/app/libs/libv2ray.aar

    - name: Grant execute permission for gradlew
      run: chmod +x V2rayNG/gradlew

    - name: Build with Gradle
      working-directory: ./V2rayNG
      run: ./gradlew assembleDebug --stacktrace
      
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: VPN-BRI-Super-Gratis-Final
        path: V2rayNG/app/build/outputs/apk/debug/*.apk
